*, .row {
    margin: 0;
    padding: 0;
}
/* ----------------------------------------------------règles générales-------------------------------------------- */
html{
    --main-color: rgb(17, 17, 17);
    --second-color: #EBEBEB;
    --tirth-color: white;
    /* --title-color: ;
    --text-color: ; */
}
.text-center{
    text-align: center;
}
.italic{
    font-style: italic;
}
.justify{
    text-align: justify;
}
.bold{
    font-weight: bold;
}
.flex-center{
    display: flex;
    align-items: center;
}
.center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-between-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-start-center{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flex-around-center{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex-end-center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
h1{
    padding: 20px 0 0;
}
h2{
    padding: 20px 0;
}
h3{
    padding-bottom: 15px;
}
#div-col-corps{
    padding-left: 0;
    padding-right: 0;
}
.no-mobile{
    display: none;
}
/* --------------------------------------------------animations liens------------------------------------------------ */
.lien-decor{
    position: relative;
    overflow: hidden;
}
.lien-decor:hover{
    border: none;
    border-radius: 20px;
}
.lien-decor span{
    position: absolute;
    display: block;
}
.lien-decor span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,white);
}
.lien-decor:hover span:nth-child(1){
    left: 100%;
   transition: 1s;
}
.lien-decor span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,white);
}
.lien-decor:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.lien-decor span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,white);
}
.lien-decor:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.lien-decor span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,white);
}
.lien-decor:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.slide-line{
    font-family: sans-serif;
    text-decoration: none;
    position: relative;
}
.slide-line::before{
    content: "";
    position: absolute;
    background: white;
    width: 62%;
    height: 2px;
    bottom: 10px;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
}
.slide-line:hover::before{
    transform-origin: 0 0;
    transform: scaleX(1);
} 
/* ---------------------------------------------------header------------------------------------------------------- */
header{
    position: fixed;
    bottom: 0;
    z-index: 99;
    background-color: black;
    color: white;
}
.p-ouverture{
    padding: 10px 0;
}
/* --------------------------------------------------Navbar-------------------------------------------------------- */
.navbar-brand{
    background-color: var(--main-color);
    width: 20%;
    position: relative;
    overflow: hidden;
}
.navbar-brand:hover{
    transform: scale(1.3) translateY(-5%);
}
.navbar-brand span{
    position: absolute;
    display: block;
}
.navbar-brand span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,white);
}
.navbar-brand:hover span:nth-child(1){
    left: 100%;
   transition: 1s;
}
.navbar-brand span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,white);
}
.navbar-brand:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.navbar-brand span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,white);
}
.navbar-brand:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.navbar-brand span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,white);
}
.navbar-brand:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
#h2-nav{
    padding: 8px 0;
}
/* -------------------------------------------------En-tête------------------------------------------------------- */
#en-tete{
    background-color: black;
    color: white;
}

/* -------------------------------------------------A propos------------------------------------------------------- */
/* .card{
    width: 100% !important;
} */
#cranium{
    width: 30%;
    height: auto;
    animation: clignote 8s linear infinite;
}
.p-a-propos{
    margin-bottom: 30px;
}
#btn-a-propos{
    background: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
#btn-a-propos:hover{
    background: var(--second-color);
    color: black;
    padding: 10px;
}
.accordion-a{
    color: black;
}
.accordion-a:hover{
    color: var(--second-color);
}
/* --------------------------------------------compétences--------------------------------------------------------- */
#competences{
    background-color: #EBEBEB;
}
#competences h4{
    margin-bottom: 12px;
}
.box-competences{
    background-color: white;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.16);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 15px;
}
.box-soft-skills{
    margin-bottom: 35px;
}
#progress-bootstrap{
    background-color: rgb(161, 83, 240);
}
#progress-ilustrator{
    background-color: rgb(247, 117, 11);
}
#collapseFour img{
    width: 50px;
    height: auto;
}
.competences-img{
    height: 48px;
    width: 48px;
}
.progress{
    width: 80%;
}
.svg-star{
    margin-left: 5px;
}
.decor-competences{
    width: 50%;
    height: auto;
    display: none;
    border-radius: 15px;
}
#img-skills{
    width: 100%;
    height: auto;
}
#skills-img-assesfirst{
    width: 60px;
    height: auto;
}
#img-bootstrap{
    width: 44px;
    height: auto;
    margin-left: 3px;
}
.img-cms{
    width: 50px;
    height: auto;
}
.img-web-design{
    width: 36px;
    height: 36px;
}
.img-bureautique{
    width: 60px;
    height: auto;
}
#img-adobe-acrobat{
    width: 42px;
    height: auto;
    margin-left: 10px;
}
#img-windows{
    width: 30px;
    height: auto;
    margin-left: 14px;
    margin-right: 15px;
}
#img-visual-studio{
    width: 60px;
    height: auto;
}
#img-competences-github{
    margin-left: 12px;
}
#img-whimsical{
    width: 34px;
    height: auto;
    margin-left: 12px;
}
#img-trello{
    width: 32px;
    height: auto;
    margin-left: 12px;
}
.div-icone-bureautique{
    height: 42px;
    margin-bottom: 5px;
}
#competences span{
    font-size: 0.7rem;
}
.environnement-span{
    padding-left: 12px;
}#competences a{
    color: var(--main-color);
}
#competences a:hover{
    color: var(--second-color);
}
/* ---------------------------------------------------Portfolio---------------------------------------------------- */
#portfolio{
    padding-bottom: 30px;
}
    /* -----------------------------------------overlay------------------------------------------------------------- */
.portfolio-overlay{
    position: relative;
    padding: 0;
    margin: 10px auto;
}
.portfolio-overlay img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.overlay{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    background: var(--second-color);
    overflow: hidden;
    transition: 0.5s ease;
    border-radius: 10px;
}
.overlay h5{
    margin: 5px 0;
    font-size: 0.8rem;
}
.overlay-sticker span{
    background: white;
    border-radius: 10px;
    padding: 6px;
    margin: 6px 10px;
    font-size: 0.7rem;
}
.overlay p{
    margin: 2px auto 0;
    font-size: 0.7rem;
}
.projet-persos-a{
    margin-top: 4px;
    background: var(--main-color);
    color: white;
    padding: 8px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 0.7rem;
} 
.projet-persos-a:hover{
    color: black;
    background: white;
    box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.16);
}
.portfolio-overlay:hover .overlay{
    height: 80%;
}
    /* -----------------------------------------fin overlay----------------------------------------------------------- */
.overlay-svg{
    color: white;
    margin-right: 10px;
}
.grayscale img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 250px;
    height: 250px;
}
.grayscale:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: 1s;
}
.portfolio-overlay2{
    position: relative;
    padding: 0;
    margin: 10px auto;
    width: 250px;
    height: 250px;
}
.portfolio-overlay2 img{
    border-radius: 10px;
}
.overlay2{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    overflow: hidden;
    transition: 0.5s ease;
    border-radius: 10px;
}
.overlay2-div{
    margin-top: 15px;
}
.overlay-sticker2 span{
    background: var(--second-color);
    border-radius: 10px;
    padding: 6px;
    margin: 10px 10px;
    font-size: 0.7rem;
}
.overlay2 p{
    margin: 2px auto 0;
    font-size: 0.7rem;
}
.projet-persos-a2{
    margin-top: 35px;
    background: var(--main-color);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 0.8rem;
} 
.projet-persos-a2:hover{
    color: black;
    background: white;
    box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.16);
}
.portfolio-overlay2:hover .overlay2{
    height: 100%;
}
#overlay2-cercle-multi-color{
    background: url("././images/portfolio/petites animations/Capture cercle multi-color.PNG");
}
#overlay2-animation-spinner{
    background: url("././images/portfolio/petites animations/Capture animation spinner.PNG");
}
#overlay2-rectangle-hover{
    background: url("././images/portfolio/petites animations/Capture animation hover rectangle.PNG");
}
#overlay2-photo-overlay-4-parties{
    background: url("././images/portfolio/petites animations/Capture ecran overlay photo 4 parties.png");
}
#overlay2-cercles-3D{
    background: url("././images/portfolio/petites animations/Capture ecran cercles 3D.png");
}
#overlay2-texte-clignotant{
    background: url("././images/portfolio/petites animations/Capture-texte-clignotant.PNG");
}
#overlay2-bordure-qui-se-dessine{
    background: url("././images/portfolio/petites animations/Capture-bordure-qui-se-dessine.PNG");
}
#svg-bordure-qui-se-dessine{
    color: black;
}
#overlay2-dark-mod{
    background: url("././images/portfolio/petites animations/Capture-bordure-qui-se-dessine.PNG");
}
#overlay2-explosion-emojis{
    background: url("././images/portfolio/petites animations/Capture-bordure-qui-se-dessine.PNG");
}
    /* ---------------------------animation modal cercle multi-color------------------------- */
#modal-body-cercle-multi{
    background: #282937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}
.box-cercle-multi{
    position: relative;
    color: #f1f1f1;
    cursor: pointer;
    transition: transform 0.4s
    cubic-bezier(0.23,1.83,0.42,1.19);
}
.box-cercle-multi:hover{
    transform: scale(1.2);
}
.box-cercle-multi p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    letter-spacing: 3px;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    animation: 1s linear infinite alternate boxmagic,
                4s linear infinite spinning;
    padding-top: 240px;
}
@keyframes boxmagic {
    from {
        box-shadow: 
        0 0 0#feac5e,
        0 0 0#c779d0,
        0 0 0#4bc0c8,
        0 0 0#42db75;
    }
    to {
        box-shadow: 
        0 -10px 0#feac5e,
        -10px 0 0#c779d0,
        0 10px 0#4bc0c8,
        10px 0 0#42db75;
    }
}
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
    /* -----------------------------------Fin animation modal cercle multi-color------------------------ */
    /* -------------------------------------Animation modal Spinner--------------------------------------- */
#modal-body-Spinner-animation{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #102626;
}
.box-Spinner-animation{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 1px linear-gradient(#0001,#0004);
}
.box-Spinner-animation .load-Spinner-animation{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #0d2323;
    animation: animate-spinner 2s linear infinite;
}
@keyframes animate-spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box-Spinner-animation .load-Spinner-animation::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0,255,249,0.4));
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.box-Spinner-animation .load-Spinner-animation::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #00fff9;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #00fff9,
                0 0 20px #00fff9,
                0 0 30px #00fff9,
                0 0 40px #00fff9,
                0 0 50px #00fff9,
                0 0 60px #00fff9,
                0 0 70px #00fff9,
                0 0 80px #00fff9,
                0 0 90px #00fff9,
                0 0 100px #00fff9;
}
.box-Spinner-animation .load-Spinner-animation span{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background: #102626;
}
    /* -------------------------Fin animation modal spinner---------------------------------------------------------- */
    /* --------------------------------animation hover rectangle qui se ferme------------------------------------------- */
.data-container{
    background:#ffebee;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.data-container-btn{
cursor:pointer;
    position:relative;
    padding:10px 20px;
    background:white;
    font-size:28px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
}
.data-container-btn:after, .data-container-btn:before{
    content:" ";
    width:15px;
    height:15px;
    position:absolute;
    border :0px solid #fff;
    transition:all 1s;
}
.data-container-btn:after{
    top:-1px;
    left:-1px;
    border-top:5px solid black;
    border-left:5px solid black;
}
.data-container-btn:before{
    bottom:-1px;
    right:-1px;
    border-bottom:5px solid black;
    border-right:5px solid black;
}
.data-container-btn:hover{
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;

    }
.data-container-btn:hover:before, .data-container-btn:hover:after{
    width:100%;
    height:100%;
}
    /* ----------------------------------------------fin animation hover rectangle qui se ferme------------------------- */
    /* ----------------------animation photo overlay qui part en 4 parties------------------ */
#modal-body-photo-overlay-4-parties{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #141E30;
    background: -webkit-linear-gradient(to top, #243B55, #141E30);
    background: linear-gradient(to top, #243B55, #141E30);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.card-photo-overlay-4-parties{
    border-radius: 16px;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 50px rgba(#000,.85);
}
.img-photo-overlay-4-parties{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.img-photo-overlay-4-parties span{
    width: 25%;
    height: 100%;
    background: url("../images/portfolio/petites animations/laptop-336373_640(1).jpg");
    transition: .5s;
}
.img-photo-overlay-4-parties span:nth-child(1){
    background-position: 0;
    transition-delay: 0;
}
.img-photo-overlay-4-parties span:nth-child(2){
    background-position: 33.33333%;
    transition-delay: .1s;
}
.img-photo-overlay-4-parties span:nth-child(3){
    background-position: 66.66666%;
    transition-delay: .2s;
}
.img-photo-overlay-4-parties span:nth-child(4){
    background-position: 100%;
    transition-delay: .3s;
}   
.card-photo-overlay-4-parties:hover .img-photo-overlay-4-parties span{
    transform: translateY(-100%);
}
.card-photo-overlay-4-parties:hover .content-photo-overlay-4-parties{
    transform: translateY(0%);
    transition: 1s;
    transition-delay: .1s;
}  
.content-photo-overlay-4-parties{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: black;
}
.content-photo-overlay-4-parties h4{
    font-size: 0.8rem;
}
.content-photo-overlay-4-parties{
    font-size: 0.6rem;
}
    /* ---------------------fin animation photo overlay qui part en 4 parties------------------- */
    /* -----------------------animation cercles 3D--------- */
#modal-body-cercles-3D{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#78d5ff,#0081e8);
}
.loader-cercles-3D{
    position: relative;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(45deg);
}
.loader-cercles-3D span{
    position: absolute;
    display: block;
    border: 15px solid #fff;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 10px 0 #e0e0e0, inset 0 10px 0 #e0e0e0;
    animation: animate-cercles-3D 4.5s ease-in-out infinite;
}
.loader-cercles-3D span:nth-child(1){
    animation-delay: 0s;
}
.loader-cercles-3D span:nth-child(2){
    animation-delay: 1.5s;
}
.loader-cercles-3D span:nth-child(3){
    animation-delay: 3s;
}
@keyframes animate-cercles-3D {
    0%{
        transform: translateZ(-100px);
        width: 100%;
        height: 100%;
    }
    25%{
        transform: translateZ(100px);
        width: 100%;
        height: 100%;
    }
    50%{
        transform: translateZ(100px);
        width: 35%;
        height: 35%;
    }
    75%{
        transform: translateZ(-100px);
        width: 35%;
        height: 35%;
    }
    100%{
        transform: translateZ(-100px);
        width: 100%;
        height: 100%;
    }
}
    /* --------------------fin animation cercles 3D----------- */
    /* ---------------------animation texte clignotant------- */
#modal-body-texte-clignotant{
    padding: 0;
}
#texte-clignotant-1{
    background: #262626;
    height: 180px;
}
.ul-texte-clignotant{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
}
.ul-texte-clignotant li{
    list-style: none;
    color: #484848;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    animation: flash-texte-clignotant 1.4s linear infinite;
}
@keyframes flash-texte-clignotant {
    0% {
        color: #484848;
        text-shadow: none;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
    }
}
.ul-texte-clignotant li:nth-child(1){
    animation-delay: .1s;
}
.ul-texte-clignotant li:nth-child(2){
    animation-delay: .2s;
}
.ul-texte-clignotant li:nth-child(3){
    animation-delay: .3s;
}
.ul-texte-clignotant li:nth-child(4){
    animation-delay: .4s;
}
.ul-texte-clignotant li:nth-child(5){
    animation-delay: .5s;
}
.ul-texte-clignotant li:nth-child(6){
    animation-delay: .6s;
}
.ul-texte-clignotant li:nth-child(7){
    animation-delay: .7s;
}
.ul-texte-clignotant li:nth-child(8){
    animation-delay: .8s;
}
.ul-texte-clignotant li:nth-child(9){
    animation-delay: .9s;
}
#texte-clignotant-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    background: #000;
}
.h5-texte-clignotant{
    color: #111;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}
.h5-texte-clignotant span{
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate-texte-clignotant 2s linear infinite;
}
.h5-texte-clignotant span:nth-child(1){
    animation-delay: 0s;
}
.h5-texte-clignotant span:nth-child(2){
    animation-delay: 0.25s;
}
.h5-texte-clignotant span:nth-child(3){
    animation-delay: 0.5s;
}
.h5-texte-clignotant span:nth-child(4){
    animation-delay: 0.75s;
}
.h5-texte-clignotant span:nth-child(5){
    animation-delay: 1s;
}
.h5-texte-clignotant span:nth-child(6){
    animation-delay: 1.25s;
}
.h5-texte-clignotant span:nth-child(7){
    animation-delay: 1.5s;
}
.h5-texte-clignotant span:nth-child(8){
    animation-delay: 1.75s;
}
@keyframes animate-texte-clignotant{
    0%,100%{
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 300px #00b3ff,
                    0 0 400px #00b3ff;
        
    }
    5%,95%{
        color: #111;
        filter: blur(0px);
        text-shadow: none;
    }
}
    /* -----------------fin animation texte clignotant------------- */
    /* ------------------animation bordure qui se dessine et s'efface------------------- */
#box-bordure-qui-se-dessine{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 3px solid transparent;
}
#top-bordure-qui-se-dessine, #bottom-bordure-qui-se-dessine, #left-bordure-qui-se-dessine, #right-bordure-qui-se-dessine {
    position: absolute;
    -webkit-animation: 8s linear infinite;
            animation: 8s linear infinite;
}
#top-bordure-qui-se-dessine {
top: -3px;
left: -3px;
height: 3px;
-webkit-animation-name: top-bordure-qui-se-dessine;
        animation-name: top-bordure-qui-se-dessine;
}
@keyframes top-bordure-qui-se-dessine {
    25% {
        width: 0;
        background: #ffdb00;
    }
    38% {
        width: calc(103%);
        background: #ffdb00;
    }
    50% {
        background: #ffdb00;
    }
    62% {
        background: #ffdb00;
    }
    75% {
        width: calc(103%);
        background: #ffdb00;
    }
    88% {
        left: auto;
        right: -3px;
        width: 0;
        background: #ffdb00;
    }
}
#bottom-bordure-qui-se-dessine {
bottom: -3px;
right: -3px;
height: 3px;
-webkit-animation-name: bottom-bordure-qui-se-dessine;
        animation-name: bottom-bordure-qui-se-dessine;
}
@keyframes bottom-bordure-qui-se-dessine {
    0% {
        width: 0;
    }
    12% {
        width: calc(103%);
        background: #ffdb00;
    }
    25% {
        background: #ffdb00;
    }
    38% {
        background: #ffdb00;
    }
    50% {
        width: calc(103%);
        background: #ffdb00;
    }
    62% {
        left: -3px;
        width: 0;
        background: #ffdb00;
    }
    75% {
        background: #ffdb00;
    }
}
#left-bordure-qui-se-dessine {
bottom: -3px;
left: -3px;
width: 3px;
-webkit-animation-name: left-bordure-qui-se-dessine;
        animation-name: left-bordure-qui-se-dessine;
}
@keyframes left-bordure-qui-se-dessine {
    12% {
        height: 0;
        background: #ffdb00;
    }
    25% {
        height: calc(103%);
        background: #ffdb00;
    }
    38% {
        background: #ffdb00;
    }
    50% {
        background: #ffdb00;
    }
    62% {
        height: calc(103%);
        background: #ffdb00;
    }
    75% {
        top: -3px;
        height: 0;
        background: #ffdb00;
    }
    88% {
        background: #ffdb00;
    }
}
#right-bordure-qui-se-dessine {
top: -3px;
right: -3px;
width: 3px;
-webkit-animation-name: right-bordure-qui-se-dessine;
        animation-name: right-bordure-qui-se-dessine;
}
@keyframes right-bordure-qui-se-dessine {
    38% {
        height: 0;
        background: #ffdb00;
    }
    50% {
        height: calc(103%);
        background: #ffdb00;
    }
    62% {
        background: #ffdb00;
    }
    75% {
        background: #ffdb00;
    }
    88% {
        height: calc(103%);
        background: #ffdb00;
    }
    100% {
        top: auto;
        bottom: -3px;
        height: 0;
        background: #ffdb00;
    }
}
    /* ------------------fin animation bordure qui se dessine et s'efface------------------- */
    /* ------------------------animation explosion d'emojis------------------------------------------- */
    #modal-body-explosion-emojis{
        background: #222;
        overflow: hidden;
        width: 100%;
        height: 500px;
    }
    .cont-confettis{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .btn-confettis{
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: -1;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: none;
        cursor: pointer;
        outline: none;
        box-shadow: 0 7px 0 rgb(160,160,160);
        font-size: 30px;
    }
    .btn-confettis:active{
        margin-top: 7px;
        box-shadow: 0 7px 0 rgb(160,160,160);
    }
    .slot{
        position: relative;
        perspective: 1000px;
    }
    .slot div{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
    }
    /* ------------------------fin animation explosion d'emojis------------------------------------------- */
    /* 
    -----------------Carousel-------------------------- */
.carousel img{
    border-radius: 10px;
}
#carousel-photoshop-2{
    margin-top: 20px;
}
#carouselExampleIndicators-3{
    display: none;
}
#carouselExampleIndicators-4{
    display: none;
}
    /* --------------Fin Carousel----------------------- */
/* -------------------------------------------------Formations et Diplomes--------------------------------------- */
#diplomes{
    background-color: #EBEBEB;
    padding-bottom: 25px;
}
#logo-online{
    width: 80px;
    height: auto;
    margin-left: 20px;
}
.img-calendrier{
    width: 25px;
    height: auto;
}
.diplome-p-intro{
    font-size: 0.8rem;
}
.diplome-p-intro span{
    margin: 0 4px;
}
#diplomes a{
    color: var(--main-color);
}
#diplomes a:hover{
    color: var(--second-color);
}
.diplome-logo{
    transition: 1s;
}
.diplome-logo:hover{
    transform: scale(1.4);
    transition: 1s;
}
#logo-IUT{
    width: 60px;
    height: auto;
    margin-left: 20px;
}
#logo-ENILV{
    width: 60px;
    height: auto;
    margin-left: 20px;
}
#IUT a,#ENILV-1 a,#ENILV-2 a{
    padding: 15px 0;
}
/* -------------------------------------------------Experiences------------------------------------------------- */
.box-timeline{
    width: 100%;
    padding: 20px 0 280px 0;
    margin-bottom: 100px;
    position: relative;
}
.ligne{
    height: 1250px;
    width: 8px;
    margin: 0 0 0 10px;
    background: var(--main-color);
}
.rond{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--main-color);
    position: absolute;
    border: 1px solid var(--main-color);
    left: 13px;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.r1{
    top: 20px;
    color: white;
}
.r2{
    top: 386px;
    color: white;
}
.r3{
    top: 900px;
    color: white;
}
.r4{
    top: 1255px;
    color: white;
}
.box{
    color: var(--main-color);
    width: 85%;
    padding: 12px;
    border-radius: 10px;
    height: auto;
    background: var(--second-color);
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    transform: translate(-50%);
    left: calc(50% + 21px);
}
.b1{
    top: 20px;
}
.b2{
    top: 386px;
}
.b3{
    top: 900px;
}
.b4{
    top: 1255px;
}
.experiences-p-intro{
    font-size: 0.7rem;
}
.experiences-p-intro span{
    margin: 0 2px;
}
#experiences a{
    color: var(--main-color);
    margin-left: 3px;
}
#experiences a:hover{
    color: white;
}
#experiences-img-calendar{
    width: 22px;
    height: auto;
}
#experiences-img-time{
    width: 22px;
    height: auto;
}
#logo-stef{
    margin-left: 15px;
    width: 60px;
    height: auto;
}
#logo-market{
    margin-left: 15px;
    width: 60px;
    height: auto;
}
#logo-metro{
    margin-left: 5px;
    width: 50px;
    height: auto;
}
#logo-transfret{
    margin-left: 0px;
    width: 63px;
    height: auto;
}
.experiences-logo{
    transition: 1s;
}
.experiences-logo:hover{
    transform: scale(1.4);
    transition: 1s;
}
#experiences h4{
    font-size: 1rem;
}
.experiences-corps{
    font-size: 0.8rem;
}
#a-button-cv{
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 25px;
    width: 200px;
    color: white;
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
#a-button-cv:hover{
    color: var(--main-color);
    background: var(--main-color);
    border-radius: 15px;
}
/* -----------------------------------------------Centres d'intérêt--------------------------------------------- */
#centres-interet{
    background-color: #EBEBEB;
    padding: 0 0 20px 0;
}
#image-intro-interet{
    width: 100%;
    border-radius: 50%;
}
#img-interet-films{
    width: 100%;
    border-radius: 50%;
}
#centres-interet ul{
    margin-top: 15px;
    margin-bottom: 0;
}
#div-img-interet-intro{
    margin: auto;
}
#div-img-interet-films{
    margin: auto;
}
#notes-musique{
    width: 200px;
    height: auto;
}
#gant-de-l-infini-yoda{
    width: 100px;
    height: auto;
}
/* ----------------------------------------------footer--------------------------------------------------------- */
footer{
    background-color: black;
    color: white;
}
#footer-icone{
    margin: 20px 0 10px 0;
}
#footer-icone-imprimante{
    margin-left: 8px;
    color: white;
}
#footer-icone-linkedin{
    margin-right: 8px;
}
#row-footer{
    padding-bottom: 100px;
}
/* -----------------------------------------------Animations---------------------------------------------------- */
@keyframes clignote {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/* ---------------------------------media querry----------------------------------------------------------------- */
@media(min-width: 500px){
    .overlay{
        height: 12%;
    }
    .overlay h5{
        font-size: 1rem;
        margin-top: 15px;
    }
    .overlay-sticker span{
        padding: 10px;
        font-size: 0.8rem;
        margin: 15px 10px;
    }
    .overlay p{
        margin: 6px auto 0;
        font-size: 0.8rem;
    }
    .projet-persos-a{
        margin-top: 20px;
        font-size: 0.8rem;
    }
    #centres-interet ul{
        font-size: 1rem;
    }
}
@media(min-width: 768px){
    #h2-nav{
        padding: 20px 0;
    }
    h1{
        padding: 30px 0 0;
    }
    .portfolio-overlay{
        margin: 10px auto;
    }
    .overlay h5{
        font-size: 1rem;
        margin-top: 4px;
    }
    .overlay-sticker span{
        padding: 8px;
        font-size: 0.8rem;
        margin: 8px 10px;
    }
    .overlay p{
        margin: 2px auto 0;
        font-size: 0.8rem;
    }
    .projet-persos-a{
        margin-top: 6px;
        font-size: 0.8rem;
    }
    .h5-texte-clignotant{
        font-size: 5rem;
    }
    #modal-body-dark-mod h4{
        left: 25%;
    }
    #carousel-photoshop-2{
        margin-top: 0;
    }
    #carouselExampleIndicators-3{
        display: block;
        margin-top: 15px;
    }
    #carouselExampleIndicators-4{
        display: block;
    }
    #carouselExampleIndicators{
        display: none;
    }
    .box-cercle-multi p{
        font-size: 25px;
    }
    .circle{
        width: 320px;
        height: 320px;
        padding-top: 340px;
    }
    .slide-line::before{
        width: 77%;
    }
    .p-ouverture{
        padding: 20px 0;
    } 
    #competences span{
        font-size: 0.9rem;
    }
    #adobe-span{
        padding-left: 8px;
    }
    .box-timeline{
        padding: 20px 0 230px 0;
    }
    .box{
        padding: 15px;
    }
    .ligne{
        margin: 0 0 0 20px;
        height: 1200px;
    }
    .rond{
        left: 24px;
        width: 55px;
        height: 55px;
    }
    .experiences-p-intro{
        font-size: 0.8rem;
    }
    .experiences-p-intro span{
        margin: 0 4px;
    }
    #experiences-wallet{
        width: 28px;
        height: 28px;
    }
    #experiences h4{
        font-size: 1.2rem;
    }
    .experiences-corps{
        font-size: 1rem;
    }
    .r3{
        top: 840px;
    }
    .r4{
        top: 1200px;
    }
    .b3{
        top: 840px;
    }
    .b4{
        top: 1200px;
    }
    #logo-stef{
        width: 80px;
        height: auto;
        margin-left: 20px;
    }
    #logo-market{
        width: 80px;
        height: auto;
        margin-left: 20px;
    }
    #logo-metro{
        width: 80px;
        height: auto;
        margin-left: 20px;
    }
    #logo-transfret{
        width: 80px;
        height: auto;
        margin-left: 20px;
    }
    #a-button-cv{
        font-size: 1.1rem;
    }
    #row-footer{
        padding-bottom: 120px;
    }
}
@media(min-width: 992px){
    .no-mobile{
        display: block;
    }
    #h2-nav{
        padding: 30px 0;
    }
    .p-a-propos{
        margin-bottom: 0;
    }
    .img-cms{
        width: 60px;
        height: auto;
    }
    .container-fluid{
        flex-direction: column;
    }
    .decor-competences{
        display: block;
    }
    header{
        position: fixed;
        top: 0;
        margin-top: 0;
    }
    .box-competences-2{
        margin: 30px auto;
    }
    .box-timeline{
        padding:80px 0 295px 0;
    }
    .box{
        width: 42%;
    }
    .ligne{
     position: initial;
     margin: 0 auto;
    }
    .rond{
        width: 60px;
        height: 60px;
        left: 50%;
        font-size: 30px;
    }
    .ligne{
        height: 1358px;
    }
    .r2{
        top: 435px;
    }
    .r3{
        top: 1000px;
    }
    .r4{
        top: 1380px;
    }
    .b1{
        left: calc(50% - 27%);
    }
    .b2{
        left: calc(50% + 27%);
        top: 435px;
    }
    .b3{
        left: calc(50% - 27%);
        top: 1000px;
    }
    .b4{
        left: calc(50% + 27%);
        top: 1380px;
    }
    #experiences h4{
        font-size: 1.1rem;
    }
    #logo-stef{
        width: 60px;
        height: auto;
        margin-left: 20px;
    }
    #logo-market{
        width: 90px;
        height: auto;
        margin-left: 15px;
    }
    #logo-metro{
        width: 60px;
        height: auto;
        margin-left: 10px;
    }
    #logo-transfret{
        width: 60px;
        height: auto;
        margin-left: 20px;
    }
    #a-button-cv{
        font-size: 1.4rem;
        width: 250px;
    }
    #row-footer{
        padding-bottom: 0;
    }
}
@media(min-width: 1200px){
    .overlay-sticker span{
        padding: 8px;
        font-size: 0.9rem;
        margin: 15px 10px;
    }
    .overlay p{
        margin: 6px auto 0;
        font-size: 0.9rem;
    }
    .projet-persos-a{
        margin-top: 15px;
        font-size: 0.9rem;
    }
    #experiences h4{
        font-size: 1.3rem;
    }
    .experiences-corps{
        font-size: 1.1rem;
    }
    #logo-stef{
        width: 80px;
        height: auto;
        margin-left: 25px;
    }
    #logo-metro{
        width: 70px;
        height: auto;
        margin-left: 5px;
    }
    #logo-transfret{
        width: 80px;
        height: auto;
        margin-left: 25px;
    }
    .ligne{
        height: 1340px;
    }
    .r2{
        top: 420px;
    }
    .r3{
        top: 980px;
    }
    .r4{
        top: 1360px;
    }
    .b2{
        top: 420px;
    }
    .b3{
        top: 980px;
    }
    .b4{
        top: 1360px;
    }
}
@media(min-width: 1400px){
    .overlay h5{
        font-size: 1.3rem;
    }
    .overlay-sticker span{
        margin: 15px 10px;
        font-size: 1rem;
    }
    .overlay p{
        margin: 6px auto 0;
        font-size: 1rem;
    }
    .projet-persos-a{
        margin-top: 15px;
        font-size: 1rem;
        padding: 15px;
    }
    #logo-metro{
        width: 65px;
        height: auto;
        margin-left: 10px;
    } 
    .box-timeline{
        padding:80px 0 310px 0;
    }
    .ligne{
        height: 1200px;
    }
    .r2{
        top: 380px;
    }
    .r3{
        top: 920px;
    }
    .r4{
        top: 1280px;
    }
    .b2{
        top: 380px;
    }
    .b3{
        top: 920px;
    }
    .b4{
        top: 1280px;
    }
}
@media(min-width: 1600px){
    .box-timeline{
        padding:80px 0 215px 0;
    }
    .ligne{
        height: 1160px;
    }
    .r3{
        top: 850px;
    }
    .r4{
        top: 1190px;
    }
    .b3{
        top: 850px;
    }
    .b4{
        top: 1190px;
    }
}