*, .row {
    margin: 0;
    padding: 0;
}
header{
    
    position: fixed;
    bottom: 0;
    z-index: 99;
}

@media(min-width: 768px){
    .navbar-expand-lg, .navbar-light, .navbar, .bg-light, .container-fluid, .navbar-nav{
        display: flex;
        flex-direction: column !important;
    }
    header{
        position: fixed;
        top: 0;
        margin-top: 0;
    }
}