*, .row {
    margin: 0;
    padding: 0;
}
/* ----------------------------------------------------règles générales-------------------------------------------- */
html{
    --main-color: rgb(17, 17, 17);
    --second-color: #EBEBEB;
    --tirth-color: white;
    /* --title-color: ;
    --text-color: ; */
}
.text-center{
    text-align: center;
}
.italic{
    font-style: italic;
}
.justify{
    text-align: justify;
}
.bold{
    font-weight: bold;
}
.flex-center{
    display: flex;
    align-items: center;
}
.center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-between-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-start-center{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
h1{
    padding: 20px 0 0;
}
h2{
    padding: 20px 0;
}
h3{
    padding-bottom: 15px;
}
#div-col-corps{
    padding-left: 0;
    padding-right: 0;
}
.no-mobile{
    display: none;
}
/* --------------------------------------------------animations liens------------------------------------------------ */
.lien-decor{
    position: relative;
    overflow: hidden;
}
.lien-decor:hover{
    border: none;
    border-radius: 20px;
}
.lien-decor span{
    position: absolute;
    display: block;
}
.lien-decor span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,white);
}
.lien-decor:hover span:nth-child(1){
    left: 100%;
   transition: 1s;
}
.lien-decor span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,white);
}
.lien-decor:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.lien-decor span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,white);
}
.lien-decor:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.lien-decor span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,white);
}
.lien-decor:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.slide-line{
    font-family: sans-serif;
    text-decoration: none;
    position: relative;
}
.slide-line::before{
    content: "";
    position: absolute;
    background: white;
    width: 62%;
    height: 2px;
    bottom: 10px;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
}
.slide-line:hover::before{
    transform-origin: 0 0;
    transform: scaleX(1);
} 
/* ---------------------------------------------------header------------------------------------------------------- */
header{
    position: fixed;
    bottom: 0;
    z-index: 99;
    background-color: black;
    color: white;
}
.p-ouverture{
    padding: 10px 0;
}
/* --------------------------------------------------Navbar-------------------------------------------------------- */
.navbar-brand{
    background-color: var(--main-color);
    width: 20%;
    position: relative;
    overflow: hidden;
}
.navbar-brand:hover{
    transform: scale(1.3) translateY(-5%);
}
.navbar-brand span{
    position: absolute;
    display: block;
}
.navbar-brand span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,white);
}
.navbar-brand:hover span:nth-child(1){
    left: 100%;
   transition: 1s;
}
.navbar-brand span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,white);
}
.navbar-brand:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.navbar-brand span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,white);
}
.navbar-brand:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.navbar-brand span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,white);
}
.navbar-brand:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
#h2-nav{
    padding: 8px 0;
}
/* -------------------------------------------------En-tête------------------------------------------------------- */
#en-tete{
    background-color: black;
    color: white;
}

/* -------------------------------------------------A propos------------------------------------------------------- */
/* .card{
    width: 100% !important;
} */
#cranium{
    width: 30%;
    height: auto;
    animation: clignote 8s linear infinite;
}
.p-a-propos{
    margin-bottom: 30px;
}
/* --------------------------------------------compétences--------------------------------------------------------- */
#competences{
    background-color: #EBEBEB;
}
#competences h4{
    margin-bottom: 12px;
}
.box-competences{
    background-color: white;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.16);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 15px;
}
.box-soft-skills{
    margin-bottom: 35px;
}
#progress-bootstrap{
    background-color: rgb(161, 83, 240);
}
#progress-ilustrator{
    background-color: rgb(247, 117, 11);
}
#collapseFour img{
    width: 50px;
    height: auto;
}
.competences-img{
    height: 48px;
    width: 48px;
}
.progress{
    width: 80%;
}
.svg-star{
    margin-left: 5px;
}
.decor-competences{
    width: 50%;
    height: auto;
    display: none;
    border-radius: 15px;
}
#img-skills{
    width: 100%;
    height: auto;
}
#skills-img-assesfirst{
    width: 60px;
    height: auto;
}
#img-bootstrap{
    width: 44px;
    height: auto;
    margin-left: 3px;
}
.img-cms{
    width: 50px;
    height: auto;
}
.img-web-design{
    width: 36px;
    height: 36px;
}
.img-bureautique{
    width: 60px;
    height: auto;
}
#img-adobe-acrobat{
    width: 42px;
    height: auto;
    margin-left: 10px;
}
#img-windows{
    width: 30px;
    height: auto;
    margin-left: 14px;
    margin-right: 15px;
}
#img-visual-studio{
    width: 60px;
    height: auto;
}
#img-competences-github{
    margin-left: 12px;
}
#img-whimsical{
    width: 34px;
    height: auto;
    margin-left: 12px;
}
#img-trello{
    width: 32px;
    height: auto;
    margin-left: 12px;
}
.div-icone-bureautique{
    height: 42px;
    margin-bottom: 5px;
}
#competences span{
    font-size: 0.7rem;
}
.environnement-span{
    padding-left: 12px;
}#competences a{
    color: var(--main-color);
}
#competences a:hover{
    color: var(--second-color);
}
/* ---------------------------------------------------Portfolio---------------------------------------------------- */
.grayscale a img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    width: 150px;
    height: 250px;
    padding: 50px 0;
}
.grayscale a:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
    transform: scale(1.5);
    transition: 1s;
}
    /* ---------------------------animation modal cercle multi-color------------------------- */
    #modal-body-cercle-multi{
        background: #282937;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow-x: hidden;
    }
    .box-cercle-multi{
        position: relative;
        color: #f1f1f1;
        cursor: pointer;
        transition: transform 0.4s
        cubic-bezier(0.23,1.83,0.42,1.19);
    }
    .box-cercle-multi:hover{
        transform: scale(1.2);
    }
    .box-cercle-multi p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px;
        letter-spacing: 3px;
    }
    .circle{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
        animation: 1s linear infinite alternate boxmagic,
                    4s linear infinite spinning;
        padding-top: 240px;
    }
    @keyframes boxmagic {
        from {
            box-shadow: 
            0 0 0#feac5e,
            0 0 0#c779d0,
            0 0 0#4bc0c8,
            0 0 0#42db75;
        }
        to {
            box-shadow: 
            0 -10px 0#feac5e,
            -10px 0 0#c779d0,
            0 10px 0#4bc0c8,
            10px 0 0#42db75;
        }
    }
    @keyframes spinning {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    /* -----------------------------------Fin animation modal cercle multi-color------------------------ */
    /* -------------------------------------Animation modal Spinner--------------------------------------- */
#modal-body-Spinner-animation{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #102626;
}
.container-loader{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 1px linear-gradient(#0001,#0004);
}
.container-loader .loader{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #0d2323;
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container-loader .loader::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0,255,249,0.4));
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.container-loader .loader::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #00fff9;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #00fff9,
                0 0 20px #00fff9,
                0 0 30px #00fff9,
                0 0 40px #00fff9,
                0 0 50px #00fff9,
                0 0 60px #00fff9,
                0 0 70px #00fff9,
                0 0 80px #00fff9,
                0 0 90px #00fff9,
                0 0 100px #00fff9;
}
.container-loader .loader span{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background: #102626;
}
    /* -------------------------Fin animation modal spinner---------------------------------------------------------- */

/* -------------------------------------------------Formations et Diplomes--------------------------------------- */
#diplomes{
    background-color: #EBEBEB;
    padding-bottom: 25px;
}
#logo-online{
    width: 80px;
    height: auto;
    margin-left: 20px;
}
.img-calendrier{
    width: 25px;
    height: auto;
}
.diplome-p-intro{
    font-size: 0.8rem;
}
.diplome-p-intro span{
    margin: 0 4px;
}
#diplomes a{
    color: var(--main-color);
}
#diplomes a:hover{
    color: var(--second-color);
}
.diplome-logo{
    transition: 1s;
}
.diplome-logo:hover{
    transform: scale(1.4);
    transition: 1s;
}
#logo-IUT{
    width: 60px;
    height: auto;
    margin-left: 20px;
}
#logo-ENILV{
    width: 60px;
    height: auto;
    margin-left: 20px;
}
#IUT a,#ENILV-1 a,#ENILV-2 a{
    padding: 15px 0;
}
/* -------------------------------------------------Experiences------------------------------------------------- */
.box-timeline{
    width: 100%;
    padding: 20px 0 280px 0;
    margin-bottom: 100px;
    position: relative;
}
.ligne{
    height: 1250px;
    width: 8px;
    margin: 0 0 0 10px;
    background: var(--main-color);
}
.rond{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--main-color);
    position: absolute;
    border: 1px solid var(--main-color);
    left: 13px;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.r1{
    top: 20px;
    color: white;
}
.r2{
    top: 386px;
    color: white;
}
.r3{
    top: 900px;
    color: white;
}
.r4{
    top: 1255px;
    color: white;
}
.box{
    color: var(--main-color);
    width: 85%;
    padding: 12px;
    border-radius: 10px;
    height: auto;
    background: var(--second-color);
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    transform: translate(-50%);
    left: calc(50% + 21px);
}
.b1{
    top: 20px;
}
.b2{
    top: 386px;
}
.b3{
    top: 900px;
}
.b4{
    top: 1255px;
}
.experiences-p-intro{
    font-size: 0.7rem;
}
.experiences-p-intro span{
    margin: 0 2px;
}
#experiences a{
    color: var(--main-color);
    margin-left: 3px;
}
#experiences a:hover{
    color: white;
}
#experiences-img-calendar{
    width: 22px;
    height: auto;
}
#experiences-img-time{
    width: 22px;
    height: auto;
}
#logo-stef{
    margin-left: 15px;
    width: 60px;
    height: auto;
}
#logo-market{
    margin-left: 15px;
    width: 60px;
    height: auto;
}
#logo-metro{
    margin-left: 5px;
    width: 50px;
    height: auto;
}
#logo-transfret{
    margin-left: 0px;
    width: 63px;
    height: auto;
}
.experiences-logo{
    transition: 1s;
}
.experiences-logo:hover{
    transform: scale(1.4);
    transition: 1s;
}
#experiences h4{
    font-size: 1rem;
}
.experiences-corps{
    font-size: 0.8rem;
}
#a-button-cv{
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 25px;
    width: 200px;
    color: white;
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
#a-button-cv:hover{
    color: var(--main-color);
    background: var(--main-color);
    border-radius: 15px;
}
/* -----------------------------------------------Centres d'intérêt--------------------------------------------- */
#centres-interet{
    background-color: #EBEBEB;
}
/* ----------------------------------------------footer--------------------------------------------------------- */
footer{
    background-color: black;
    color: white;
}
#footer-icone{
    margin: 20px 0 10px 0;
}
#footer-icone-imprimante{
    margin-left: 8px;
    color: white;
}
#footer-icone-linkedin{
    margin-right: 8px;
}
/* -----------------------------------------------Animations---------------------------------------------------- */
@keyframes clignote {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/* ---------------------------------media querry----------------------------------------------------------------- */
@media(min-width: 768px){
    #h2-nav{
        padding: 20px 0;
    }
    h1{
        padding: 30px 0 0;
    }
    .box-cercle-multi p{
        font-size: 25px;
    }
    .circle{
        width: 320px;
        height: 320px;
        padding-top: 340px;
    }
    .slide-line::before{
        width: 77%;
    }
    .p-ouverture{
        padding: 20px 0;
    } 
    #competences span{
        font-size: 0.9rem;
    }
    #adobe-span{
        padding-left: 8px;
    }
    .box-timeline{
        padding: 20px 0 230px 0;
    }
    .box{
        padding: 15px;
    }
    .ligne{
        margin: 0 0 0 20px;
        height: 1200px;
    }
    .rond{
        left: 24px;
        width: 55px;
        height: 55px;
    }
    .experiences-p-intro{
        font-size: 0.8rem;
    }
    .experiences-p-intro span{
        margin: 0 4px;
    }
    #experiences-wallet{
        width: 28px;
        height: 28px;
    }
    #experiences h4{
        font-size: 1.2rem;
    }
    .experiences-corps{
        font-size: 1rem;
    }
    .r3{
        top: 840px;
    }
    .r4{
        top: 1200px;
    }
    .b3{
        top: 840px;
    }
    .b4{
        top: 1200px;
    }
    #logo-stef{
        width: 80px;
        height: auto;
        margin-left: 20px;
    }
    #logo-market{
        width: 80px;
        height: auto;
        margin-left: 20px;
    }
    #logo-metro{
        width: 80px;
        height: auto;
        margin-left: 20px;
    }
    #logo-transfret{
        width: 80px;
        height: auto;
        margin-left: 20px;
    }
    #a-button-cv{
        font-size: 1.1rem;
    }
}
@media(min-width: 992px){
    .no-mobile{
        display: block;
    }
    #h2-nav{
        padding: 30px 0;
    }
    .p-a-propos{
        margin-bottom: 0;
    }
    .img-cms{
        width: 60px;
        height: auto;
    }
    .container-fluid{
        flex-direction: column;
    }
    .decor-competences{
        display: block;
    }
    header{
        position: fixed;
        top: 0;
        margin-top: 0;
    }
    .box-competences-2{
        margin: 30px auto;
    }
    .box-timeline{
        padding:80px 0 295px 0;
    }
    .box{
        width: 42%;
    }
    .ligne{
     position: initial;
     margin: 0 auto;
    }
    .rond{
        width: 60px;
        height: 60px;
        left: 50%;
        font-size: 30px;
    }
    .ligne{
        height: 1358px;
    }
    .r2{
        top: 435px;
    }
    .r3{
        top: 1000px;
    }
    .r4{
        top: 1380px;
    }
    .b1{
        left: calc(50% - 27%);
    }
    .b2{
        left: calc(50% + 27%);
        top: 435px;
    }
    .b3{
        left: calc(50% - 27%);
        top: 1000px;
    }
    .b4{
        left: calc(50% + 27%);
        top: 1380px;
    }
    #experiences h4{
        font-size: 1.1rem;
    }
    #logo-stef{
        width: 60px;
        height: auto;
        margin-left: 20px;
    }
    #logo-market{
        width: 90px;
        height: auto;
        margin-left: 15px;
    }
    #logo-metro{
        width: 60px;
        height: auto;
        margin-left: 10px;
    }
    #logo-transfret{
        width: 60px;
        height: auto;
        margin-left: 20px;
    }
    #a-button-cv{
        font-size: 1.4rem;
        width: 250px;
    }
}
@media(min-width: 1200px){
    #experiences h4{
        font-size: 1.3rem;
    }
    .experiences-corps{
        font-size: 1.1rem;
    }
    #logo-stef{
        width: 80px;
        height: auto;
        margin-left: 25px;
    }
    #logo-metro{
        width: 70px;
        height: auto;
        margin-left: 5px;
    }
    #logo-transfret{
        width: 80px;
        height: auto;
        margin-left: 25px;
    }
    .ligne{
        height: 1340px;
    }
    .r2{
        top: 420px;
    }
    .r3{
        top: 980px;
    }
    .r4{
        top: 1360px;
    }
    .b2{
        top: 420px;
    }
    .b3{
        top: 980px;
    }
    .b4{
        top: 1360px;
    }
}
@media(min-width: 1400px){
    #logo-metro{
        width: 65px;
        height: auto;
        margin-left: 10px;
    } 
    .box-timeline{
        padding:80px 0 310px 0;
    }
    .ligne{
        height: 1200px;
    }
    .r2{
        top: 380px;
    }
    .r3{
        top: 920px;
    }
    .r4{
        top: 1280px;
    }
    .b2{
        top: 380px;
    }
    .b3{
        top: 920px;
    }
    .b4{
        top: 1280px;
    }
}
@media(min-width: 1600px){
    .box-timeline{
        padding:80px 0 215px 0;
    }
    .ligne{
        height: 1160px;
    }
    .r3{
        top: 850px;
    }
    .r4{
        top: 1190px;
    }
    .b3{
        top: 850px;
    }
    .b4{
        top: 1190px;
    }
}